body {
    margin: 0px;
    padding: 0px;
}

#headsection {
    background-color: rgb(52, 53, 53);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#logo img {
    margin-right: 2em;
    height: 6em;
    width: 7em;
    border-radius: 25%;
}

#name {
    display: block;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

input {
    width: 15em;
}

#head {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#birthDay {
    height: 20vh;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    align-items: baseline;
}

#days,
#months {
    margin-right: 4em;
    width: 5em;
}

#year input {
    margin-right: 4em;
    width: 5em;
}

#buttonTochek {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#check {
    padding: 10px;
    width: 10em;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 15%; */
}

button:hover {
    background-color: rgb(26, 189, 143);
    color: aliceblue;
    border-radius: 75%;
}

#holoscope {
    align-items: center;
    text-align: center;
    height: 15em;
    margin: 10px;
    font-size: larger;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}